<VirtualHost *:80>
    ServerName localhost 

    # Tell Apache and Passenger where your app's 'public' directory is
    DocumentRoot /home/vagrant/redmine-4.0.9/public

    PassengerRuby /usr/share/rvm/rubies/ruby-2.6.6/bin/ruby

    # Relax Apache security settings
    <Directory /home/vagrant/redmine-4.0.9/public>
      Allow from all
      Options -MultiViews
      # Uncomment this if you're on Apache ≥ 2.4:
      Require all granted
    </Directory>
</VirtualHost>

